name: generate pacman game

on:
  schedule: # Run automatically every 24 hours
    - cron: "0 0 * * *"
  workflow_dispatch: # Manual trigger
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # Required: checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # Create dist folder and move file
      - name: Move SVG to dist
        run: |
          mkdir -p dist
          mv pacman-contribution-graph.svg dist/

      # Push the generated SVG to output branch
      - name: Push pacman-contribution-graph.svg to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
